@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --clr-primary-blue: rgba(64, 124, 254, 255);
  --clr-primary-dark_violet: hsl(257, 27%, 26%);

  --clr-secondary-red: hsl(0, 87%, 67%);

  --clr-neutral-grayish_violet: hsl(257, 7%, 63%);
  --clr-neutral-very_dark_blue: hsl(255, 11%, 22%);
  --clr-neutral-background_gray: hsl(225, 33%, 95%);

  /* fonts */
  --ff-primary: "Poppins", sans-serif;
  --fw-bold: 700;

  --fs-default: 18px;
  --fs-primary-heading: 3rem;
}

// UTILITY CLASSES
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-very_dark_blue);
}

.button {
  background-color: var(--clr-primary-blue);
  color: white;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 100px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(162, 189, 255, 255);
  }
}

// STYLING
body {
  font-size: var(--fs-default);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-grayish_violet);
}

.heading-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.image {
  width: 40%;
}

.image-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  :first-child {
    margin: 0;
  }
}

.generated-links {
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.submit-link-section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(81%2c 46%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c516.054C97.523%2c511.46%2c193.055%2c480.476%2c271.001%2c421.686C345.702%2c365.343%2c387.47%2c279.814%2c426.164%2c194.623C464.786%2c109.591%2c513.141%2c20.435%2c494.847%2c-71.148C476.801%2c-161.487%2c401.469%2c-227.765%2c330.144%2c-286.071C267.354%2c-337.4%2c189.864%2c-358.845%2c112.633%2c-383.594C33.384%2c-408.99%2c-44.518%2c-443.513%2c-127.014%2c-432.568C-217.056%2c-420.622%2c-303.502%2c-382.678%2c-368.955%2c-319.701C-437.82%2c-253.442%2c-502.333%2c-167.686%2c-501.632%2c-72.124C-500.946%2c21.468%2c-400.957%2c80.294%2c-365.387%2c166.867C-327.68%2c258.642%2c-359.654%2c379.468%2c-287.924%2c448.018C-215.155%2c517.561%2c-100.544%2c520.791%2c0%2c516.054' fill='%2341254c'%3e%3c/path%3e%3cpath d='M1440 1205.972C1558.848 1204.565 1640.135 1091.188 1738.476 1024.437 1833.941 959.639 1953.248 920.877 2008.911 819.813 2066.0190000000002 716.125 2071.3360000000002 588.119 2041.938 473.454 2014.025 364.58000000000004 1933.603 280.085 1850.996 203.87 1775.4850000000001 134.20100000000002 1688.129 79.22899999999998 1588.305 54.91899999999998 1491.483 31.340000000000032 1395.245 63.52600000000001 1295.725 68.64600000000002 1160.414 75.60700000000003 1005.492 7.837999999999965 898.084 90.42700000000002 792.134 171.89499999999998 781.51 331.478 780.104 465.121 778.805 588.622 824.673 706.446 890.506 810.946 950.489 906.1600000000001 1045.577 965.87 1136.949 1031.557 1233.541 1100.9969999999998 1321.046 1207.38 1440 1205.972' fill='%23613772'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 10%;
  margin-left: 10%;
}

.link-input-field {
  border: none;
  padding: 1%;
  border-radius: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
}

.submit-btn {
  padding: 1%;
  margin-left: 5%;
  border-radius: 0.5rem;
  width: 50%;
}

@media (max-width: 991px) {
  .submit-link-section {
    height: 12rem;
    top: -6rem;
  }
}

.link-wrapper {
  background-color: var(--clr-neutral-background_gray);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  border-radius: 0.3rem;

  :first-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 2rem;
  }

  button {
    border-radius: 0.5rem;
  }

  button.active {
    background-color: var(--clr-primary-dark_violet);
    cursor: default;
  }
}

.full-link {
  color: var(--clr-primary-dark_violet);
}

.short-link {
  color: var(--clr-primary-blue);
}